--- import AdminLayout from '../../layouts/AdminLayout.astro'; ---
<AdminLayout title='Create Post'><h1>Create Post</h1><form class='card' method='post'><input placeholder='Title'/><input placeholder='Category'/><textarea placeholder='Content'></textarea><button class='btn'>Save Draft</button></form></AdminLayout>
