---import AdminLayout from '../../layouts/AdminLayout.astro';---
<AdminLayout title='Create Post'><h1>Create Post</h1><input placeholder='Headline'/><textarea placeholder='Content'></textarea><button>Publish</button></AdminLayout>
